<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Cafetron Evaluator Automation Suite" verbose="1" parallel="false">
  <listeners>
    <listener class-name="listeners.TestListener"/>
  </listeners>

  <test name="Evaluator Smoke E2E And Defect Tests">
    <groups>
      <run>
        <include name="smoke"/>
        <include name="e2e"/>
        <include name="defect"/>
      </run>
    </groups>
    <classes>
      <class name="tests.smoke.EvaluatorSmokeSuiteTest"/>
      <class name="tests.e2e.OrderFulfillmentE2ETest"/>
      <class name="tests.defect.AuthRbacDefectRetest"/>
      <class name="tests.defect.OrderingCutoffStockDefectRetest"/>
      <class name="tests.defect.VendorMenuDefectRetest"/>
      <class name="tests.defect.QrDefectRetest"/>
      <class name="tests.defect.AdminWalletVendorDefectRetest"/>
    </classes>
  </test>
</suite>
